@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html, body {
    height: 100%;
    overflow-x: hidden;
  }

  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
nav {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1rem 1.5rem;
}

nav h1 {
  text-decoration: none !important;
  color: white;
  position: relative;
  letter-spacing: 5px;
  padding: 0.5rem 1rem;
  padding-right: calc(1rem - 5px);
  overflow: hidden; /* Ensures that parts of the pseudo-elements are not visible outside the boundaries of the h1 element */
  transition: color 0.3s ease; /* Smooth transition for the color change */
}

/* Create the initial state of the borders as pseudo-elements */
nav h1::before,
nav h1::after,
nav h1 span::before,
nav h1 span::after {
  content: '';
  position: absolute;
  background: gold; /* Gold color for the animated border */
  transition: all 0.3s ease;
}

/* Top and bottom borders */
nav h1::before, nav h1::after {
  left: 0;
  right: 0;
  height: 2px;
  width: 0; /* Start with 0 width */
}

nav h1::before { top: 0; }
nav h1::after { bottom: 0; }

/* Left and right borders */
nav h1 span::before,
nav h1 span::after {
  top: 0;
  bottom: 0;
  width: 2px;
  height: 0; /* Start with 0 height */
}

nav h1 span::before { left: 0; }
nav h1 span::after { right: 0; }

/* Hover states to "draw" the borders */
nav h1:hover::before, nav h1:hover::after {
  width: 100%; /* Expand the width to the full width */
}

nav h1:hover span::before,
nav h1:hover span::after {
  height: 100%; /* Expand the height to the full height */
}

nav h1 span {
  position: relative; /* Establish a stacking context for the span pseudo-elements */
  display: block; /* Make span behave as block to support absolute positioning of its pseudo-elements */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu {
	display: none;
	align-items: center;
	margin: 0 -1rem;
}

.menu a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, font-weight 0.3s ease;
  position: relative; /* Required for positioning the pseudo-element */
}

.menu a::after {
  content: '';
  width: 0;
  height: 3px;
  background: gold; /* Match the text color or choose another that fits your design */
  position: absolute;
  left: 0;
  bottom: -6px; /* Distance from the text to the underline */
  transition: width 0.5s ease;
}

.menu a:hover::after {
  width: 100%;
}

.menu a:hover {
  /* Removed the color change to focus on the underline effect */
  font-weight: 700; /* Optional: Retain the bold effect on hover if desired */
}

/* Preloader styles */
#preloader {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#preloader h2 {
  color: #fff;
  margin: 10px;
  padding: 20px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

#logo {
  /* Adjust size as needed */
  width: 120px;
  height: auto;
}

/* Content styles */
#content {
  display: none;
}

/* Animations */
.slide-up {
  animation: slideUp 0.5s ease forwards;
}

@keyframes slideUp {
  to {
      transform: translateY(-100%);
  }
}


/* =========================== Services =========================== */

#services{
  padding: 30px 0;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div{
  background-color: #ffffff;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background-color 0.5s, transform 0.5s;
}
.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover{
  background: goldenrod;
  transform: translateY(-10px);
}

/* ================================================================= */

.hamburger {
	appearance: none;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	display: block;
	width: 2rem;
	height: 2rem;
}

.hamburger span {
	color: #FFF;
	font-size: 2rem;
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 98;
	padding-top: 6rem;
	opacity: 0;
	transform: translateY(-100%);
	background-color: #000;
	color: #FFF;
	transition: 0.3s;
}

.mobile-menu.is-open {
	opacity: 1;
	transform: translateY(0);
}

.mobile-menu a {
	display: block;
	padding: 1rem;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	font-size: 1.25rem;
	transition: 0.3s;
}

.mobile-menu a:hover {
	color: crimson;
	background-color: #FFF;
}

.banner-text {
  position: absolute;
  top: 0; /* Aligns the text to the top */
  right: 0; /* Ensures the text is aligned to the right */
  height: 100%; /* Full height to align text vertically */
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  justify-content: center; /* Centers content vertically in the available height */
  align-items: flex-end; /* Aligns text to the right */
  width: 33.33%; /* Matches the width of the dark overlay */
  color: white; /* Text color */
  z-index: 10; /* Ensure it's above the overlay and video */
  padding: 0 20px; /* Right padding might need adjustment */
  text-align: center;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner::after {
  color: white;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 33.33%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1; /* Adjust as needed but should be above the video */
  transition: all 0.5s ease; /* Transition effect applies to all properties over 0.5s */
  transition-delay: 0.2s; /* Delays the start of the transition by 0.2s */
}





#AutoSlider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the video is just below the nav but above the banner background */
}





/* Ensure body or any container div doesn't have a solid background that could cover the video */
body, .container {
    background: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65); /* Adjust the transparency as needed */
    pointer-events: none; /* Allow clicks to pass through the overlay */
    z-index: 1000;
}

.banner-text {
    text-align: center;
    padding: 40px; /* Increased padding within the banner content */
    margin: 20px auto;
    max-width: 600px;
    position: absolute;
    z-index: 1001;
}

.banner-text h1 {
    font-size: 36px;
    font-weight: bold;
    padding: 4px; /* Adjust padding as needed */
}

.banner-text p {
    font-size: 18px;
    font-weight: 300;
    padding: 4px; /* Adjust padding as needed */
}

.cta-button {
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s ease;
    animation: pulse 2s infinite; /* Add the pulsing animation */
}

.cta-button:hover {
    background-color: black;
    color: white;
}

#why-choose-us, #our-services, #AutoSlider{
    text-align: center;
    background-color: #f0f0f0; /* Soft background color */
    padding: 40px 20px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    max-height: fit-content;
}

#why-choose-us h1, #our-services h1, #AutoSlider h1 {
  font-size: 48px;
}




#why-choose-us ul {
    list-style: none;
    padding: 0;
}

#why-choose-us li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14pt;
}

.services-btn {
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: solid 2px black;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s ease;
    animation: pulse 2s infinite; /* Add the pulsing animation */
}

.services-btn:hover {
    background-color: white;
    color: #000;
}

/* About Section */
#about {
  text-align: center;
  background: #000;
  color: #fff;
  padding: 50px 20px;
}

.about-heading {
  font-size: 2em;
  margin-bottom: 20px;
}

.about-text {
  max-width: 600px;
  margin: auto;
  margin-bottom: 50px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-img {
  width: 200px;
  height: auto;
  transition: opacity 1s ease;
  cursor: pointer;
  object-fit: cover;
}

/* Image Viewer Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0,0.9);
}

#caption {
  display: block;
  color: #fff;
  margin-bottom: 50px; /* Increase space between caption and image */
}

.modal-content {
  max-width: 700px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin-top: 30px; /* Additional space above the image */
  animation: zoomIn 0.5s;
  padding: 10px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Navigation buttons for the modal */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Image counter */
.image-counter {
  color: #fff;
  position: absolute;
  bottom: 12px;
  left: 50%;
  font-size: 12px;
  transform: translateX(-50%);
}

/* Modal animations */
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

#testimonials {
  background: #f8f8f8;
  text-align: center;
  padding: 50px 20px;
}

#testimonials h2 {
  margin-bottom: 30px;
  font-size: 2em;
}

.testimonials-slider {
  position: relative;
}

.testimonial-item {
  display: none; /* Only the active item will be displayed */
  padding: 20px;
  animation: fadeIn 1s ease;
}

.testimonial-item.active {
  display: block; /* Show active item */
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 20px;
}

.testimonial-author {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-info {
  text-align: left;
}

.author-name {
  font-weight: bold;
}

.author-position {
  font-size: 0.8em;
  color: #666;
}

.slider-controls {
  margin-top: 20px;
}

.prev-btn, .next-btn {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.prev-btn:hover, .next-btn:hover {
  color: #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* || SERVICES PAGE STYLES */
.service-banner, #call-to-action {
  background: #fff;
  text-align: center;
  padding: 50px 20px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.service-banner h2 {
  color: #333;
  font-size: 2.5rem;
}

.service-banner p, #call-to-action p {
  color: #555;
  font-size: 1.1rem;
  margin-top: 20px;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.service {
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.material-icons {
  font-size: 48px;
  color: #333;
}

.service h4 {
  margin-top: 20px;
  color: #333;
}

.service p {
  font-size: 1rem;
  color: #555;
}

.service:hover .material-icons {
  color: #000;
}

/* || CONTACT PAGE STYLES */
#contact {
  text-align: center;
  background: #fff;
  padding: 50px 20px;
}

.contact-heading {
  margin-bottom: 10px;
  font-size: 2.5em;
}

.contact-text {
  margin-bottom: 30px;
  font-size: 1em;
  color: #555;
}

.services-panel {
  background: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  margin-top: 20px;
}

.services-heading {
  margin-bottom: 10px;
  font-size: 24pt;
}

.services-list {
  list-style: none;
  padding: 0;
}

.services-list li {
  margin-bottom: 5px;
  font-size: 1em;
  color: #333;
}

.contact-info {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px 0;
  margin-left: 100px;
  padding: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 70px;
}

.contact-item i {
  color: #000;
  font-size: 30px;
  margin-bottom: 10px;
}

.contact-item div {
  text-align: center;
}

.contact-item h2 {
  margin-bottom: 10px;
  color: #000;
}

.contact-item a {
  display: flex;
  align-items: center;
  font-weight: lighter;
  color: #000;
}

.contact-item a:hover {
  color: #555;
}

.content-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adjust the gap between contact items and the form as needed */
}

.contact-items, .contact-form {
    flex: 1;
}

.contact-form {
    padding: 20px; /* Add padding inside the contact form */
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 5px; /* Optional: rounds the corners of the contact form */
}

form label, form input, form textarea {
    display: block; /* Makes form elements stack vertically */
    width: 100%;
    margin-bottom: 10px;
}

form input[type="text"], form input[type="email"], form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #4CAF50; /* Example button color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .content-flex {
        flex-direction: column;
    }

    .contact-form, .contact-items {
        width: 100%; /* Makes each element take full width on smaller screens */
    }
}


/* || FOOTER STYLES */
.footer {
    background-color: #fff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    margin-bottom: 20px;
    text-align: center;
}

.social-icons {
    margin: 10px 0px;
}

.social-icons a {
    color: black;
    font-size: 30px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.snapchat-icon:hover {
    color: #FFFF00; /* Snapchat's brand colour code as of 08/04/2024 */
}

.mail-icon:hover {
    color: darkblue;
}

.whatsapp-icon:hover {
    color: #25D366; /* Whatsapp's brand colour code as of 08/04/2024 */
}

.copyright p {
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

.copyright a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.copyright a:hover {
    color: darkblue;
    text-decoration: underline;
}

#services {
  background-color: #f0f0f0; /* Apply the grey background to both services and products */
  padding: 30px 0;
}

/* Ensure the rest of your CSS is correctly targeting elements within #products as well */


#portfolio{
  padding: 50px 0;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  color: white;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}





.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width:auto;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), black);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
 transition: height 0.5s;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: goldenrod;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img{
  transform: scale(1.5);
}
.work:hover .layer{
  height: 100%;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid goldenrod;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  transition: background 0.5s;
}
.btn:hover{
  background: goldenrod;
}

/* Become a Client */

#become-client {
  color: white; /* Text color */
  background-color: black; /* Soft gray background */
  padding: 40px 0; /* Ample padding for spacing */
  text-align: center; /* Centers the text */
}

#become-client h2 {
  margin-bottom: 20px; /* Spacing between the heading and paragraph */
  font-size: 24px; /* Adjust according to your design */
}

#become-client p {
  margin-bottom: 20px; /* Spacing before the button */
  font-size: 18px; /* Adjust according to your design */
}

#become-client .btn {
  background-color: black; /* Button background color */
  color: white; /* Button text color */
  padding: 10px 20px; /* Button padding */
  text-decoration: none; /* Removes underline from links */
  font-weight: bold; /* Makes button text bold */
  border-radius: 5px; /* Optional: Rounds the corners of the button */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

#become-client .btn:hover {
  background-color: #333; /* Darker background on hover */
  color: #fff; /* Adjust as needed */
}
/*------OTHER--------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.about-intro, .team, .mission-vision, .testimonials {
  padding: 60px 0;
}

#our-team {
  margin: 30px;
  padding: 30px;
}

.team-members {
  display: flex;
  justify-content: space-between;
}

.team-member {
  text-align: center;
  flex-basis: 30%;
}

.profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mission, .vision {
  margin-bottom: 40px;
}

.carousel {
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.carousel-items {
  display: flex;
}

.carousel-item {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 20px;
  text-align: center;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/*TESTIMONNIALS*/
#testimonials .container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

#testimonials h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.testimonial {
  font-style: italic;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.testimonial p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

.testimonial-author {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.testimonial-author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.testimonial-author h3 {
  font-size: 1rem;
  color: #333;
}

.testimonial-author p {
  font-size: 0.8rem;
  color: #666;
}

.swiper-pagination-bullet {
  background: #333;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #007bff;
}


/*CONTACT US*/
.contact-heading {
        text-align: center;
        font-size: 36px;
        margin-bottom: 20px;
      }
      .contact-text {
        text-align: center;
        font-size: 18px;
        margin-bottom: 40px;
      }
      .content-flex {
        display: flex;
        justify-content: space-between;
      }
      .contact-items {
        width: 40%;
      }
      .contact-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }
      .contact-item i {
        font-size: 24px;
        margin-right: 10px;
      }
      .contact-form {
        width: 50%;
      }
      form label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
      form input,
      form textarea,
      form select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      form input[type="submit"] {
        background-color: #333;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        appearance: none; /* Remove default dropdown arrow */
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      select {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>');
        background-repeat: no-repeat;
        background-position: right 10px center;
        padding-right: 30px;
      }

      select:hover,
      select:focus {
        border-color: #888;
        outline: none;
      }

/* Auto Slider */


.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  /* Adjust the height as needed */
  height: 300px;
}

.slide-content img {
  width: 100%; /* Ensures the image is responsive and fills the width of its container */
  max-height: 200px; /* Maximum height for each image */
  display: block;
  object-fit: cover; /* Ensures the image covers the designated area without distorting its aspect ratio */
  border-radius: 10px; /* Optional: Rounds the corners of the image to match the container */
  transition: transform 0.5s; /* Smooth transition for any transformations applied */
}

/* Adjusting the .slide-content to accommodate the image's max-height */
.slide-content {
  position: relative;
  overflow: hidden;
  border-radius: 10px; /* Optional: Matches the image border-radius */
  display: flex; /* Makes the content flex-container */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  height: 100%; /* Ensures the .slide-content fills the height of its parent container */
}


.slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 0, 79, 0.6));
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slide-overlay h3, .slide-overlay a {
  color: #fff;
  text-align: center;
  transition: transform 0.5s, opacity 0.5s;
}

.swiper-slide:hover .slide-overlay {
  opacity: 1;
}

.swiper-slide:hover img {
  transform: scale(1.1);
}

.swiper {
  width: 100%;
  height: 300px; /* Adjust as necessary */
}


.scroll-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 2s infinite; /* Apply the bounce animation */
  z-index: 1002; /* Ensure it's visible above other content */
}

.hide {
  display: none !important;
}
.swiper-see-all {
  
  background-color: #007bff; /* Primary color */
  color: #ffffff; /* Text color */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Top and bottom padding, Left and right padding */
  font-size: 1rem; /* Text size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor change to indicate it's clickable */
  text-transform: uppercase; /* Uppercase text */
  font-weight: bold; /* Bold text */
  letter-spacing: 1px; /* Space between letters */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  display: flex; /* Block level element */
  margin: 20px auto; /* Center button horizontally */
  width: fit-content; /* Adjust width to content */
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}

.swiper-see-all:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px; /* Adjust based on your preference */
  padding: 50px; /* Padding around the entire grid */
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Adjusts to two columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .grid-container {
      grid-template-columns: 1fr; /* Adjusts to a single column on very small screens */
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; /* Adjusts to a single column on very small screens */
  }
}

.slide-content {
  position: relative;
  overflow: hidden;
  border-radius: 10px; /* Optional for rounded corners */
}

.slide-content img {
  width: 100%;
  display: block;
  transition: transform 0.5s;
  border-radius: 10px; /* Match parent if using rounded corners */
}

.slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), goldenrod);
  border-radius: 10px; /* Match parent if using rounded corners */
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slide-content:hover .slide-overlay {
  opacity: 1;
}

.slide-overlay h3, .slide-overlay .btn {
  color: #fff;
  text-align: center;
  margin: 10px 0; /* Space between elements inside overlay */
}
.btn {
  text-decoration: none;
  background: #000;
  color: goldenrod;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: goldenrod;
  color: #000;
}




@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateX(-50%) translateY(0);
  }
  40% {
      transform: translateX(-50%) translateY(-20px);
  }
  60% {
      transform: translateX(-50%) translateY(-10px);
  }
}

.material-icons {
  font-size: 48px; /* Icon size, adjust as needed */
  color: #fff; /* Icon color, adjust based on your background */
  cursor: pointer; /* Suggests to users that it's interactive */
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .team-member {
      flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .team-member {
      flex-basis: 100%;
  }
}


/* Define the pulsing animation */
@keyframes pulse {
    0% {
        transform: scale(1); /* Initial scale */
    }
    50% {
        transform: scale(1.05); /* Scale up to 1.05 at 50% of the animation */
    }
    100% {
        transform: scale(1); /* Return to the original scale */
    }
}

@media (min-width: 768px) {
	.mobile-menu, .hamburger {
		display: none;
	}

	.menu {
		display: flex;
	}
}

/* || RESPONSIVE STYLES */

@media only screen and (max-width: 768px) {
@media (max-width: 768px) {

  .banner::after {
    display: none;
  }
  
  .banner {
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically in the container */
    align-items: center; /* Center horizontally in the container */
    height: 100vh; /* Make the banner at least the height of the viewport */
  }

  .banner-text {
      text-align: center; /* Center align text for smaller screens */
      position: static; /* Use static positioning for proper flexbox behavior */
      margin: 20px; /* Add some space around the text box */
      padding: 20px; /* Add padding inside the text box */
      max-width: 90%; /* Max width to prevent it from stretching too far on small screens */
      min-width: 250px; /* Minimum width to prevent excessive vertical stretching */
  }

  .banner-text h1,
  .banner-text p {
    align-self: center;
      padding: 10px; /* Adjust padding for a better look */
  }

  .cta-button {
      margin: 20px 0; /* Add vertical margin, remove horizontal margin */
      align-self: center;
      display: inline-block; /* Keep the button inline-block for the margin to work */
  }

    .service-container {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 80%; /* Make service blocks take more width on smaller screens */
    }

    .service-container {
      grid-template-columns: 1fr;
    }

    h2 {
        font-size: 1.5rem; /* Adjust heading size for smaller screens */
    }

    #about p, #why-choose-us ul {
        font-size: 1rem; /* Adjust text size for readability */
    }
    
    .about-text {
      padding: 0 10px;
    }
    
    .modal-content {
      width: 95%;
    }
    
    .image-gallery {
      flex-direction: column;
      align-items: center;
    }
  
    .gallery-img {
      width: 70px; /* Smaller images on mobile */
      height: 70px;
    }

    .testimonial-author {
      flex-direction: column;
    }
  
    .testimonial-avatar {
      margin: 0 auto 10px;
    }
  
    .author-info {
      text-align: center;
    }

    .contact-heading {
      font-size: 2em;
    }
  
    .services-panel {
      padding: 15px;
    }
  
    .services-heading {
      font-size: 1.2em;
    }

    .contact-info {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }

    .contact-item {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.2rem;
    }

    #about p, #why-choose-us ul {
        font-size: 0.9rem;
    }
}
}